body
{
	font-family: verdana;
	font-weight: lighter;
}

/* h1
{
	color: white;
	font-size: 50px;
	width: 1128px;
	background-color: black;
	box-shadow: 10px 10px 5px 1px lightgrey;
}
 */

footer
{
	text-align: center;
	position: fixed;
	left: 0;
	height: 0;
	width: 100%;
}
#name
{
	padding: 10px;
	font-size: large;
}

#table table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}
._td{
	color: blue;
	text-decoration: underline;
}
